body
{
    margin: 0;
    text-align: center;
    background-color:#DCEFF9;
}
.top-container
{
    padding: 24px 0 24px 0;
    background-color: #253C78;
    margin: 0;
    position: relative;
}
#sun
{
    width: 250px;
    height: 250px;
    position:absolute;
    left : 50px;
}
#moon
{
    width: 250px;
    height: 250px;
    position:absolute;
    right: 50px;
}
#earth
{
    width: 250px;
    height: 250px;
}
.intro
{
    margin-top: 183px;
    color: white;
    margin-bottom: 44px;
    position: relative;
}
.intro img
{
    position: absolute;
    width: 100px;
    height: 100px;
}
#mer
{
    position: absolute;
    left: 175px;
    top: 140px;
    width: 50px;
    height: 50px;
}
#mars
{
    right: 172px;
    top: 147px;
    width: 113px;
    height: 113px;
}
#name
{
    font-size: 6.875rem;
    font-family: 'Sacramento', cursive;
    margin-top: 114px;
    margin-bottom: 22px;
    padding-top: 7px;
}
#homo
{
    font-size: 2.4375rem;
    margin-top: -30px;
    font-family: 'Montserrat', sans-serif;
}
.imgs
{
    position: relative;
}
#sat1
{
    width: 119px;
    height: 119px;
    position: absolute;
    left: 290px;
    top: 11px;
    transform: rotate(231deg);
}
#sat2
{
    width: 150px;
    height : 150px;
    position: absolute;
    right: 270px;
    top: 73px;
    transform: rotate(61deg);
}

.middle-container
{
    padding: 20px 0 20px 0;
    margin: 46px auto 64px auto;
    width: 566px;
}
h2
{
    font-family: poppins;
    font-size: 2.4rem;
    color: #253C78;
}
.middle-container p
{
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.8;
    font-size: 1.125rem;
}
.middle-container img
{
    margin: 0 auto;
    width: 225px;
    height: 225px;
}
hr
{
    border-style: dotted;
    width: 5%;
    height: 0px;
    border-bottom: 0px;
    border-width: 10px;
    color: gray;
}
.skills
{
    margin: 82px auto 160px auto;
}
.skills h3
{
    font-family: poppins;
    font-size: 1.5rem;
    color: #238DBE;
}
.skills p{
    font-size: 1.125rem;
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.5;
}
.skill-row
{
    width: 50%;
    margin: 76px auto 100px auto;
    text-align: left;
}
.skills img
{
    width: 175px;
    height: 175px;
}
.prog
{
    float: left;
    margin-right: 45px;
}
.design
{
    float: right;
    margin-left: 45px;
}
.graphic-design
{
    float: right;
    margin-left: 30px;
}
#gcp
{
    padding-bottom: 75px;
}
#gci
{
    width: 200px;
    height: 200px;
}

.contact
{
    margin: 82px auto 132px auto;
}
.contact h3
{
    font-family: poppins;
    font-size: 1.5rem;
    margin-bottom: 72px;
    margin-top: 51px;
}
.btn {
    background: #118cd9;
    background-image: -webkit-linear-gradient(top, #118cd9, #16f2e7);
    background-image: -moz-linear-gradient(top, #118cd9, #16f2e7);
    background-image: -ms-linear-gradient(top, #118cd9, #16f2e7);
    background-image: -o-linear-gradient(top, #118cd9, #16f2e7);
    background-image: linear-gradient(to bottom, #118cd9, #16f2e7);
    -webkit-border-radius: 39;
    -moz-border-radius: 39;
    border-radius: 39px;
    font-family: poppins;
    color: #ffffff;
    font-size: 20px;
    font-weight: bolder;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }

  .bottom-container
  {
      background-color: #253C78;
      padding: 50px 0 20px 0;
  }
  .bottom-container img
  {
      width: 60px;
      height: 60px;
      margin: 0 50px 0 50px;
  }
  .bottom-container p
  {
      color: white;
      padding-bottom: 5px;
  }
  .copy
  {
    font-size: 0.9em;
    padding: 30px 2px;
    padding-bottom: -16px;
    margin-bottom: -10px;
  }
 